.menu-lateral{
    display: flex;
    flex-direction: column;
    background: var(--menu-lateral);
    width: 75vw;
    height: 100vh;
    transition: .25s;

    position: absolute;
    left: -100vw;
}

.menu-lateral--ativo{
    left: 0;
    transition: .25s;
}

.menu-lateral__logo{
    align-self: center;
    width: 110px;
    padding: 16px;
}

.menu__lateral-link{
    height: 64px;
    color: var(--fonte-alternativa);
    padding-left: 64px;
    display: flex ;
    align-items: center;
}

.menu__lateral-link--ativo{
    color: var(--fonte);
    padding-left: 56px;
    border-left: 8px solid var(--fonte);
}

.menu__lateral-link::before{
    content: "";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.menu__lateral-link--inicio::before{
    content: "\e902";
}

.menu__lateral-link--videos::before{
    content: "\e90e";
}

.menu__lateral-link--picos::before{
    content: "\e909";
}

.menu__lateral-link--integrantes::before{
    content: "\e903";
}

.menu__lateral-link--camisas::before{
    content: "\e900";
}

.menu__lateral-link--pinturas::before{
    content: "\e90a";
}

@media screen and (min-width: 1440px) {
    
    .menu-lateral{
        position: static;
        width: 200px;
        grid-column: 1;
        grid-row: 1 / span 2;
    }
}
    


