@import url(./css/Header.css);
@import url(./css/menulateral.css);
@import url(./css/Cartoes.css);



/* Importação da fonte 'icones'*/
@font-face { font-family: 'icones'; src: url(../font/icones.ttf);}
/* FimImportação da fonte 'icones'*/


:root{
    --cor-de-fundo: #1D232A;
    --cabeçalho: #1D232A;
    --cabeçalho-mobile:#15191C;
    --menu-lateral: #15191C;
    --cartão: #2C343A;
    --fonte: #FFFFFF;
    --fonte-alternativa: #95999C;
    --links: #0480DC;
    --botão: #0480DC;
    --sombras: 0px 4px 4px rgba(0, 0, 0, 0.16);
}


body{
    font-family: 'open sans', 'icones', sans-serif;
    background: var(--cor-de-fundo);
    color: var(--fonte);
}
